@font-face {
    font-family: "DMsans";
    src: url(/assets/fonts/DMSans.ttf);
}
@font-face {
    font-family: "Lora";
    src: url(/assets/fonts/Lora.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DMsans",Arial, Helvetica, sans-serif ;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Lora",Arial, Helvetica, sans-serif;
}
body {
    background-color: #f2f0ef;
}
.seperator {
    height: 10vh;
}
nav img {
    width: 120px;
    height: auto;
}
nav {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}
nav ul {
    display: none;
}

nav .navMenu.active {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;    
}



nav ul li a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}
a:hover {
    color: orangered;
    text-shadow: 0 0 5px white;
    transition: 1s;
}
nav button {
    margin-right: 1rem;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: none;
    transition: 1s;

}
nav button:hover {
    color: orangered;
}
#hero {
    background-image:url(/assets/images/hero.png);
    background-size: cover;
    background-position: center;
    filter: brightness(.9) drop-shadow(1px 1px 1rem brown) contrast(120%) saturate(1.1);
    height: 100vh;
}
#hero h1 {
    color: white;
    position: absolute;
    top: 40%;
    right: 10%;
    max-width: 10ch;
    text-align: center;
    text-shadow:0 0 1px #f2f0ef;
}
#about {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#about h1 {
    top: 50vh;
    width: 40ch;
    text-align: center;
}
#menu {
    min-height: 100vh;
}
#menu h1 {
    text-align: center;
}
.menuGrid {
    display: grid;
    grid-template-columns: 1fr;
}
.menuCategory {
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: inset 0 0 25px gainsboro;
    min-height: 70vh;
}
.menuCategory * {
    padding-top: 1rem;
}
.menuCategory h3 {
    text-align: center;
}
.menuCategory ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#reserve {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
    background-image: url(/assets/images/pizzaReserve.webp);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 0px 10px black;
    box-shadow: inset 0 0 25px orange;

}

#reserve button {
    border: none;
    border-radius: 20px;
    padding: 1rem;
    background-color: white;
    box-shadow: inset 0 0 5px gray;
}
#reserve h3 {
    margin-bottom: 2rem;
}
#reserve div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media screen and (width >= 520px) {
    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding-right: 1rem;
    }

    nav button {
        display: none;
    }
    .menuGrid {
        grid-template-columns: 1fr 1fr;
    }
}